.img_Container{
  display: flex;
  width: 75%;
  margin: auto;

}

img{
  width: 150px;
  height: 150px;
  
}

.card{
  border: 2px solid rgb(15, 14, 14);
  padding: 3em;
  margin: 2em;
  width: 50%;
  text-align: center;
  al
  
}


h1{
  text-align: center;
}


.green-Card{
  width: 55%;
  margin: auto;
  padding: 4em;
  border: solid 2px black;
  background-color: rgba(99, 131, 118, 0.903);
  color: aliceblue;
  
 
}
.green-Card h1 {
  text-align: left;
}